// Brushes Home Page
html * {
	box-sizing: border-box;
}


#main-content {
	// logo
	.header-logo {
		display: block;
		position: relative;

		width: 50%;
		margin: 0 auto 50px;
		padding: 0 0 50px 0;

		border-bottom: 1px solid #666;
	}

	// tagline
	.apt-tagline {

		span {
			font-size: .5em;
		}

		h2 {
			&:first-child {
				display: block;
				position: relative;
				left: 10px;

				line-height: .8;

				@include animation(scale 1.0s ease-in, slide 2.0s ease);
			}

			&:nth-child(2) {
				font-size: 2.1em;
				font-weight: bold;
			}

			&:last-child {
				display: block;
				position: relative;
				right: 12px;
			}
		}
	}
	.header-tag {
		span {
			font-size: .5em;
		}
	}
	
	// Blurbs
	.blurb-container {
		overflow: hidden;

		.section2-blurb {
			position: absolute;
			width: 100%;
			bottom: 0px;
			padding: 5px 0 20px;
			margin-bottom: 5px;
			color: #fff;
			background: rgba(0,0,0,0);
			transition: all 0.5s ease;
			transform: translate3d(0,100%,0);
		}

		button {
			background: transparent;
			padding: 5px 10px;
			margin-top: 1em;
			font-size: 1.1em;
			color: #fff;
			text-transform: uppercase;
			border: 1px solid #fff;

			&:hover {
				background: RGBA(19, 79, 159, 1);
			}
		}

		&:hover .section2-blurb {
			background: rgba(0,0,0,0.7);
			transform: translate3d(0,0,0);
			@include animation(scale 1.0s ease-in, slide 2.0s ease);

			h2 {
				color: #fff;
			}
		}
	}
}